body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}
#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lightbox.active #media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
}
#lightbox-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
    align-self: flex-end;
    text-align: left;
    right: 900px;
    top: 50px;
    position: relative;
}
.logo {
    width: 200px;
    margin: 0 100px;
    object-fit: cover;
}
h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 83px;
    color: #D3573C;
    margin: 0;
}
h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    margin-top: 0
}
h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}
#photograph-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

}
#main {
    position : relative;
}
#contact_modal {
    display: none;
}
button{
    background-color: transparent;
    border: none;
}
.pricing{
    width: 370px;
    height: 60px;
    background-color: #DB8876;
    position: sticky;
    bottom: 0;
    left: 75%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.filter{
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.filter-select{
    display: flex;
    flex-direction: column;
    background-color: #911C1C;
    margin-left: 25px;
    width: 170px;
    padding: 10px;
    border-radius: 5px;
}
.dropdown{
    display: none;
    flex-direction: column;
}
.dropdown button{
    border-top-style: solid;
    border-width: 1px;
}
.filter-select button{
    color: white;
    font-size: 18px;
    padding: 10px;
    justify-content: flex-start;
    display: flex;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
}
.media-infos{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #911C1C;
}
#lightbox-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#chevron {

}
#chevron-left{
  
    transform: rotate(180deg);
}
#cross {
    position: absolute;
    right: 20%;
    top: 10%;
    background: transparent;

}
#lightbox-content{
    border-radius: 5px;
    object-fit: cover;
}
#media{
    cursor: pointer;
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}
.modal header img {
    cursor: pointer;
}
.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
form label {
    color: #312E2E;
    font-size: 36px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}