@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

body.modal {
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-size: 36px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-align: center;
}
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

.photographer_section article a {
    text-decoration : none;
}

h3 {
margin: 0px;
font-size: 13px;
font-weight: 500;
font-family: "DM Sans", sans-serif;
color: #D3573C;
}

h4{
margin: 0px;
font-size: 10px;
font-weight: 400;
font-family: "DM Sans", sans-serif;
}

h5{
margin: 0px;
font-size: 9px;
font-weight: 400;
font-family: "DM Sans", sans-serif;
color: #757575;

}


.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}